body{
    background:#596a92;
    color:white;
    font-family:Arial;
    margin: 0;
    padding: 0;
}

.variavel-clara{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        color: var(--text);
    }
}

.card{
    background:#1e293b;
    border-radius:16px;
    padding:20px;
    box-shadow:0 8px 30px rgba(0,0,0,.2);
}
